.update_btn {
  margin-right: 25px !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: none !important;
}
.grid_back {
  background: black !important;
  color: white !important;
}
.close_btn1 {
  margin-right: 25px !important;
  margin-left: 50px !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: none !important;
}
.second_grid_back {
  background: orange;
}

.barcode_input {
  width: 100%;
  margin-top: 25px !important;
}
.chair-wrap {
  margin-left: 20px !important;
  margin-top: 25px !important;
  width: 90%;
  margin-bottom: 25px !important;
}
.paper-wrap-2 {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}
.paper-wrap-3 {
  height: 100px;
  width: 75px;
  border: 1px solid gray;
}
